@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&family=Mukta:wght@300;700&family=Open+Sans:ital,wght@0,500;1,500&family=Oswald&family=Poppins:wght@400;500;700&family=Quicksand:wght@300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}

body {
    min-width: 100%;
    min-height: 100%;
}

.menu-logo-empresa {
    width: 100%;
    background-color: #252323;
    height: 60px;
}

.redes-sociais ul li {
    float: none;
    display: inline-block;
    list-style: none;
    padding: 12px;
    text-decoration: none;
}

main {
    margin: 0 auto;
    width: 980px;
    position: relative;
}

.logo-empresa {
    float: left;
    padding: 17px;
    width: 80%;
}

.redes-sociais {
    width: 20%;
    float: right;
}

/*Estilizando Menu principal*/
header ul li{
    display: inline-block;
    list-style: none;
}

input {
    margin: -7px 0 0 185px;
    width: 191px;
    height: 36px;
    padding-left: 15px;
    background-image: url(./img/icone-lupa.png);
    background-repeat: no-repeat;
    background-position: 160px;
    border: 1px solid #d6d6d6;
}